* {
  box-sizing: border-box;
}

/* Header */

#header {
  text-align: center;
  color: white;
  font-weight: bolder;
  background-image: url(/images/dreamyWorld.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2%;
}

#image {
  width: 250px;
  height: 250px;
  margin-bottom: 5%;
  border: double grey 10px;
  border-radius: 100%;
  position: relative;
  top: 20px;
}

/* Sidebar */

.navbar {
  text-align: right;
}

a {
  text-decoration: none;
}

a {
  color: darkgray;
}

a:visited {
  color: rgb(42, 44, 165);
}

a:hover {
  color: green;
}

/* Main */

body {
  font-family: sans-serif;
  font-size: 110%;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

#content {
  margin-top: 2%;
}

.col {
  color: white;
  background-color: darkcyan;
  padding: 2rem;
  border-radius: 20px;
}

.cols {
  margin: auto;
  display: grid;
  grid-gap: 2rem;
}

/* Media Queries */

@media (min-width: 380px) {
  .cols {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 430px) {
  .cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Card Group */

.card-group {
  margin-top: 5%;
  gap: 2rem;
}

.card {
  color: white;
  text-align: center;
  background-color: darkcyan;
  border-radius: 20px;
}

/* Carousel */

.carousel-item {
  margin-top: 4%;
  margin-bottom: 2%;
}



/* Form */

label {
  color: white;
  font-family: sans-serif;
}

input {
  background: lightgray;
  border-radius: 10px;
  border: solid black;
}

textarea {
  background: lightgray;
  border: solid black;
  border-radius: 10px;
}

.btn {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
}

.btn {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Footer */

footer {
  text-align: center;
  color: #FCF7F8;
  padding: 2%;
  margin-bottom: 1%;
}

.icons {
  width: 3rem;
  height: auto;
  border-radius: 50%;
  margin-top: 2rem;
  margin-left: 1rem;
  filter: contrast(150%);
  box-shadow: 0 0 20px #eee;
}

.icons:hover {
  transform: translateY(-1rem)
}